/*
=====================================================================
*   kivumbi v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e.
   f. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  background: #0f0f0f;
  color: white;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 450px;
  min-height: 300px;
  width: 100%;
  background: #161415 url(/pics/p2.jpeg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: visible;
}

.dropdown a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* dropdown*/
.dropdown{
  font: 16px "opensans-bold", sans-serif;
  width: 100%;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
}
.dropbtn {
  background-color: red;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  float: right;
}
.dropbtn:hover, .dropbtn:focus{
   background-color: yellowgreen;
}

.opaque {
  background-color: yellow;
}

/* hide toggle button */
.dropdown> a.mobile-btn {
  display: none;
}

.nav {
  min-height: 48px;
  width: auto;
  background-color: yellow;
  color: #0f0f0f;
  text-align: center;
  position: absolute;
  list-style: none;
  height: 48px;
  display: none;
  z-index: 1;
}

/* Links */
.nav a {
  display:list-item;
  line-height: 80px;
  text-decoration: none;
  text-align: center;
color: #0f0f0f;
}
.nav a {
   background-color: yellow;
}
.nav a:hover{
   background-color: aquamarine;
}
.show {
    display: block;
    width: auto;
    
}

.shop {
  text-align: left;
  
}
.shop :hover {
  background-color: aqua;
}
.last {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url(/pics/p10.jpg);
  background-blend-mode: darken;
  background-size: cover;
  text-align: center;
}
.button {
  background-color: red;
  font-size: 12px;
  color: white;
  transition-duration: 0.4s;
  width: 150px;
  padding: 14px 40px;
  border: 0px solid grey;
}
.button:hover {
  background-color: yellow;
  color: black;
}
.great {
   
}

.img {
  border-left: 0px ;
  border-top: 0px;
  border-right: 10px solid yellow;
  border-bottom: 10px solid yellow ;
  width: 300px;
  height: 300px;
}
